<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fréttasida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <nav>
            {% for i in range(len) %} 
                <a href="/article/{{ articles[i]['id'] }}">{{ articles[i]['title'] }}</a> <br>
            {% endfor %} 
        </nav>
        <article>
            <h1>{{ title }}</h1>
            <h4>{{ author }}</h4>
            <p>{{ content }}</p>
        </article>
    </div>
</body>
</html>